<style>
    #myiframe{width:100%;}
    #page-wrapper{
        padding:0;
    }

body::-webkit-scrollbar { width: 3px; height: 3px;}
body::-webkit-scrollbar-track-piece { background-color: #ccc;}
body::-webkit-scrollbar-thumb{height: 50px; background-color: #ccc; -webkit-border-radius: 3px;}

</style>

<iframe src="http://10.143.117.38:81/qa/" scrolling="yes" frameborder="0" id="myiframe" target="_top" width="1000" height="800"></iframe>


<script>
    function setIframeHeight() {
        var myIframe = document.getElementById('myiframe');
        if(myIframe){
            console.log($('body').height())
            myIframe.height= ($('body').height() -100)+'px';
        }
    }
    window.onload=window.onresize=function () {
        setIframeHeight()
    }
</script>