.backInfo_center{
    padding:10px 20px;
}
.backInfo_center .title {
    margin: 20px 0;
}

.backInfo_center .display_flex {
    display: -moz-box;
    /* Firefox */
    display: -ms-flexbox;
    /* IE10 */
    display: -webkit-box;
    /* Safari */
    display: -webkit-flex;
    /* Chrome, WebKit */
    display: flex;
}

.backInfo_center .title p {
    flex: 1;
    text-align: center;
    font-size: 18px;
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
}

.backInfo_center .title .active {
    color: #0f88eb;
    border-bottom: 2px solid #0f88eb;
}

.backInfo_center .showLogin {
    margin: 20px;
    width: 200px;
    height: 20px;
    line-height: 20px;
    font-size: 18px;
    position: absolute;
    right:0;
    top:50px;
}
.backInfo_center .usermanage{
    margin-top:10px;
}
.backInfo_center .usermanage .header{
    clear: both;
    width:98%;
    margin-left:20px;
}
.backInfo_center .usermanage .user-table thead{
    font-weight:bold;
}
.backInfo_center .usermanage .user-table td:nth-last-child(1){
    text-align: center;
}