<div ng-controller="backUseCase_JobInterface" class="backUseCase_Job">
    <div class="backInfo-depart-frame">
        <div class="backDepart-header">
            <p class="backDepartQ-title pull-left">任务管理</p>
        </div>
        <div class="queryCase">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <div class="col-sm-3">
                        <select ng-model="queryDetailParam.product" ng-options="m.description for m in queryProductList" ng-change="queryProduct()">
                            <option value="">-- 请选择产品 --</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <select ng-model="queryDetailParam.system" ng-options="m.description for m in querySystemList">
                            <option value="">-- 请选择系统 --</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <select ng-model="queryDetailParam.Env" ng-options="m.description for m in caseEnvlList">
                            <option value="">-- 请选择环境 --</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <button ng-click="queryCaseJob()" class="btn btn-default" style="bottom: 7px;position: relative;">查询</button>
                    </div>
                </div>
            </form>
        </div>

        <!-- 按钮触发模态框 -->
        <button class="btn btn-default new-apartment" data-backdrop="static" data-toggle="modal" data-target="#myModal" ng-click="openJobInterface()">新增任务</button>
        <div class="back-server-frame">
            <table class="table table-hover table-striped depart-table">
                <thead>
                <tr>
                    <td>编号</td>
                    <td>名称</td>
                    <!--<td>项目名称</td>-->
                    <td>部署系统</td>
                    <td>jenkins</td>
                    <!--<td>构建类型</td>-->

                    <!--<td>更新日期</td>-->
                    <td>启用</td>
                    <td>创建时间</td>
                    <td>操作</td>
                </tr>
                </thead>
                <tbody ng-repeat="item in jobInterfaceList">
                <tr>
                    <td>{{$index + (pageNum - 1) *10 + 1}}</td>
                    <td>{{item.name}}</td>
                    <!--<td>{{item.job_name}}</td>-->
                    <td>{{item.system_info}}</td>
                    <td>{{item.jenkins}}</td>
                    <!--<td>{{item.build_type}}</td>-->
                    <!--<td>{{item.modified_time}}</td>-->
                    <td>{{item.is_active?'是':'否'}}</td>
                    <td>{{item.created_time}}</td>
                    <td>
                        <!--<button class="btn btn-default btn-sm" ui-sref="deployment.jobRun" ng-click="runJob(item.uuid,$index)">执行</button>
                        <button class="btn btn-default btn-sm">回滚</button>
                        <button class="btn btn-default btn-sm">继续执行</button>-->
                        <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModal" ng-click="seeJobInterface(item.uuid,$index)">查看</button>
                        <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModal" ng-click="editJobInterface(item.uuid,$index)">修改</button>
                        <button class="btn btn-danger btn-danger-empty btn-sm" data-toggle="modal" data-target="#DisableModel" ng-click="disableJobInterface(item.uuid,$index)">禁用</button>
                        <button class="btn btn-danger btn-danger-empty btn-sm" data-toggle="modal" data-target="#DisableModel" ng-click="delJobInterface(item.uuid,$index)">删除</button>
                    </td>
                </tr>
                </tbody>
            </table>
            <div ng-show = "forInitPage" class="forInit">
                <span class="tcdPageCode"></span>
            </div>
            <div ng-hide = "forInitPage" class="forSearch">
                <span class="tcdPageCode"></span>
            </div>
        </div>
    </div>
    <!-- 模态框 新增、查看、修改（Modal） -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        {{dialog.header}}
                    </h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="jobInterfaceName" class="col-sm-2 control-label">名称</label>
                            <div class="col-sm-10">
                                <input type="text" ng-blur="checkNull(params.name,'名称')" ng-model="params.name" class="form-control" id="jobInterfaceName" placeholder="请输入名称" ng-disabled="dialog.input_isClick">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="jobInterfaceJobName" class="col-sm-2 control-label">任务名称</label>
                            <div class="col-sm-10">
                                <input type="text" ng-blur="checkName(params.job_name)" ng-model="params.job_name" class="form-control" id="jobInterfaceJobName" placeholder="请输入任务名称（限字母、数字和下划线）" ng-disabled="dialog.input_isClick || dialog.edit">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">部署系统</label>
                            <div class="col-sm-10">
                                <select ng-model="params.system_info" ng-options="m.description for m in deploySystemList" ng-disabled="dialog.input_isClick">
                                    <option value="">-- 请选择 --</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">jenkins</label>
                            <div class="col-sm-10">
                                <select ng-model="params.jenkins" ng-options="m.name for m in jenkinsList" ng-disabled="dialog.input_isClick">
                                    <option value="">-- 请选择 --</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">构建类型</label>
                            <div class="col-sm-10">
                                <select ng-model="params.build_type" ng-options="m.name for m in buildTypeList" ng-change="selectedBuildType(params.build_type)" ng-disabled="dialog.input_isClick">
                                    <option value="">-- 请选择 --</option>
                                </select>
                            </div>
                        </div>
                        <div ng-show="params.send_mail_state===true" class="form-group">
                            <label class="col-sm-2 control-label">邮件组</label>
                            <div class="col-sm-10">
                                <select ng-change="selectMail()" ng-model="params.send_mail" ng-options="m.name for m in sendMailList" ng-disabled="dialog.input_isClick">
                                    <option value="">-- 请选择 --</option>
                                </select>
                            </div>
                        </div>
                        <!--源码-->
                        <div ng-show="params.source_state===true" class="form-group">
                            <label class="col-sm-2 control-label">源码仓库</label>
                            <div class="col-sm-10">
                                <select  ng-change="selectedSourceCode()" ng-model="params.source_warehouse" ng-options="m.name for m in dataStorageList" ng-disabled="dialog.input_isClick">
                                    <option value="">-- 请选择 --</option>
                                </select>
                            </div>
                        </div>
                        <div ng-show="params.source_state===true" class="form-group">
                            <label class="col-sm-2 control-label">源码分支</label>
                            <div class="col-sm-10">
                                <select ng-model="params.source_branch" ng-options="m.name for m in sourceCodeBranchList" ng-disabled="dialog.input_isClick">
                                    <option value="">-- 请选择 --</option>
                                </select>
                            </div>
                        </div>
                        <!--根据需求进行了删除 -- lk -->
                        <!--<div ng-show="params.source_state===true" class="form-group">-->
                            <!--<label for="sourceWarehouseSubdirectory" class="col-sm-2 control-label">源码文件夹</label>-->
                            <!--<div class="col-sm-10">-->
                                <!--<input type="text" ng-model="params.source_warehouse_subdirectory" class="form-control" id="sourceWarehouseSubdirectory" placeholder="请输入源码文件夹" ng-disabled="dialog.input_isClick">-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--部署-->
                        <div ng-show="params.deploy_state===true" class="form-group">
                            <label class="col-sm-2 control-label">部署仓库</label>
                            <div class="col-sm-10">
                                <select  ng-change="selectedDeployCode()" ng-model="params.deploy_warehouse" ng-options="m.name for m in dataStorageList" ng-disabled="dialog.input_isClick">
                                    <option value="">-- 请选择 --</option>
                                </select>
                            </div>
                        </div>
                        <div ng-show="params.deploy_state===true" class="form-group">
                            <label class="col-sm-2 control-label">部署分支</label>
                            <div class="col-sm-10">
                                <select ng-model="params.deploy_branch" ng-options="m.name for m in deployCodeBranchList" ng-disabled="dialog.input_isClick">
                                    <option value="">-- 请选择 --</option>
                                </select>
                            </div>
                        </div>
                        <!--根据需求进行了删除 -- lk -->
                        <!--<div ng-show="params.deploy_state===true" class="form-group">-->
                            <!--<label for="deployWarehouseSubdirectory" class="col-sm-2 control-label">部署源码文件夹</label>-->
                            <!--<div class="col-sm-10">-->
                                <!--<input type="text" ng-model="params.deploy_warehouse_subdirectory" class="form-control" id="deployWarehouseSubdirectory" placeholder="请输入部署源码文件夹" ng-disabled="dialog.input_isClick">-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--接口-->
                        <div ng-show="params.interface_state===true" class="form-group">
                            <label class="col-sm-2 control-label">接口数据仓库</label>
                            <div class="col-sm-10">
                                <select  ng-change="selectedInterfaceCode()" ng-model="params.interface_warehouse" ng-options="m.name for m in dataStorageList" ng-disabled="dialog.input_isClick">
                                    <option value="">-- 请选择 --</option>
                                </select>
                            </div>
                        </div>
                        <div ng-show="params.interface_state===true" class="form-group">
                            <label class="col-sm-2 control-label">接口分支</label>
                            <div class="col-sm-10">
                                <select ng-model="params.interface_branch" ng-options="m.name for m in interfaceCodeBranchList" ng-disabled="dialog.input_isClick">
                                    <option value="">-- 请选择 --</option>
                                </select>
                            </div>
                        </div>
                        <!--<div class="form-group" style="position: relative;z-index:2;">-->
                            <!--<label for="departmentDes" class="col-sm-2 control-label">前置接口</label>-->
                            <!--<div class="col-sm-10" >-->
                                <!--<div ui-sortable="sortableOptions" class="selectSearchResult" ng-model="selectSearchResult">-->
                                    <!--<div ng-repeat="item in selectSearchResult " class="selectSearchResultItem pull-left" >-->
                                        <!--<span class = "deleteSelected" ng-click="selectSearchResult.splice($index,1)" ng-show="!dialog.input_isClick" >x</span>-->
                                        <!--<span>{{item.description}}</span>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div style="position:relative;" ng-show="!dialog.input_isClick">-->
                                    <!--&lt;!&ndash; <label for="departmentDes" class="control-label">搜索</label> &ndash;&gt;-->
                                    <!--<input  type="text" ng-model="searchWord" placeholder="输入检索信息进行搜索" class="form-control" ng-focus = "searchResultIsShow = true" >-->
                                    <!--<div class="searchResult" ng-show="searchResultIsShow && searchResultFlag === true">-->
                                        <!--<div ng-repeat="m in searchResult_job" ng-click="selectSearchItem($index)" class="searchResultItem">{{m.name}}</div>-->
                                    <!--</div>-->
                                    <!--<div ng-show="searchResultIsShow  && searchResultFlag === true" ng-click="searchResultIsShow = false" class="closeSearchResult">点击关闭</div>-->
                                <!--</div>-->

                            <!--</div>-->
                        <!--</div>-->
                        <!--根据需求进行了删除 -- lk -->
                        <!--<div ng-show="params.interface_state===true" class="form-group">-->
                            <!--<label for="interfaceWarehouseSubdirectory" class="col-sm-2 control-label">接口源码文件夹</label>-->
                            <!--<div class="col-sm-10">-->
                                <!--<input type="text" ng-model="params.interface_warehouse_subdirectory" class="form-control" id="interfaceWarehouseSubdirectory" placeholder="请输入接口源码文件夹" ng-disabled="dialog.input_isClick">-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="form-group">
                            <label for="jobInterfacePollScm" class="col-sm-2 control-label">定时任务策略</label>
                            <div class="col-sm-10">
                                <input type="text" ng-model="params.poll_scm" class="form-control" id="jobInterfacePollScm" placeholder="请输入定时任务策略" ng-disabled="dialog.input_isClick">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="jobInterfaceGitLab" class="col-sm-2 control-label">gitLab hook 分支</label>
                            <div class="col-sm-10">
                                <input type="text" ng-model="params.gitLab_hook_branch_name" class="form-control" id="jobInterfaceGitLab" placeholder="请输入gitLab hook 分支" ng-disabled="dialog.input_isClick">
                            </div>
                        </div>-->

                        <div class="form-group" ng-repeat="oneArr in multiParams track by $index">
                            <label for="departmentDes" class="col-sm-2 control-label">入参</label>
                            <div class="col-sm-10 ">
                                <div class="display_flex" ng-repeat="param in oneArr track by $index">
                                    <div class="flex8">
                                        <input type="text" ng-model="param.key" class="form-control" id="departmentDes" placeholder="key" ng-disabled="dialog.input_isClick || !oneArr[$index].isDisabled">
                                    </div>
                                    <div class="flex8" ng-show="!oneArr[$index].is_select">
                                        <input type="text" ng-model="param.value" class="form-control" id="departmentDes" placeholder={{param.valueHide}} ng-disabled="dialog.input_isClick" data-toggle="tooltip" data-placement="top" title="{{param.valueHide}}">
                                    </div>
                                    <select class="flex8" ng-model="param.value" ng-options="m.correct_name as m.correct_name for m in allAssociation" ng-show="oneArr[$index].is_select" ng-disabled="dialog.input_isClick">
                                        <option value="">-------- 请选择 -------</option>
                                    </select>
                                    <button type="button" ng-show="!dialog.input_isClick" class="btn btn-default"  ng-click="minus(oneArr,$index)">-</button>
                                    <button type="button" ng-show="!dialog.input_isClick" class="btn btn-default" ng-click="plus(oneArr,$index)" >+</button>

                                    <!--<input  type="checkbox" class="checkbox-zsy" ng-model="paramsArr[$index].is_select"  ng-true-value = "true" ng-false-value = "false" ng-click="getAllAssociation()">-->
                                    <!--  -->
                                </div>
                            </div>
                        </div>
                        <div class="form-group" style="padding-left: 30px" ng-show="dialog.status === 'create'||dialog.status === 'modify'">
                            <button type="button" class="btn btn-primary " ng-click="reduceParamsFun()">-</button>
                            <button type="button" class="btn btn-primary " ng-click="addParamsFun()">+</button>
                        </div>
                        <div ng-show="params.build_type.name === 'interface_auto_trigger'" class="form-group jobCon" style="position: relative;z-index:2;">
                            <label for="departmentDes" class="col-sm-2 control-label">部署任务</label>
                            <div class="col-sm-10" >
                                <div ui-sortable="sortableOptions" class=" selectSearchResult" ng-model="selectSearchResult">
                                    <div ng-repeat="item in selectSearchResult " class="selectSearchResultItem pull-left" >
                                        <span class = "deleteSelected" ng-click="selectSearchResult.splice($index,1)" ng-show="!dialog.input_isClick" >x</span>
                                        <span>{{item.name}}</span>
                                    </div>
                                </div>
                                <div style="position:relative;" ng-show="!dialog.input_isClick">
                                    <!--&lt;!&ndash; <label for="departmentDes" class="control-label">搜索</label> &ndash;&gt;-->
                                    <input  type="text" ng-model="searchWord" placeholder="输入检索信息进行搜索" class="form-control" ng-focus = "searchResultIsShow = true" >
                                    <div class="searchResult" ng-show="searchResultIsShow && searchResultFlag === true">
                                        <div ng-repeat="m in searchResult" ng-click="selectSearchItem($index)" class="searchResultItem">{{m.name}}</div>
                                    </div>
                                    <div ng-show="searchResultIsShow && searchResultFlag === true" ng-click="searchResultIsShow = false" class="closeSearchResult">点击关闭</div>
                                </div>

                            </div>
                        </div>
                        <!--详情-->
                        <div class="form-group">
                            <label  class="col-sm-2 control-label">启用</label>
                            <div class="col-sm-10">
                                <input type="checkbox" ng-model="params.is_active" ng-disabled="dialog.input_isClick"> 是否启用
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-empty" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" ng-click="addJobInterfaceConfirm()" ng-show="dialog.status === 'create'">新增</button>
                    <button type="button" class="btn btn-primary" ng-click="editJobInterfaceConfirm()" ng-show="dialog.status === 'modify'">修改</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <!-- 模态框 禁用、删除（Modal） -->
    <div class="modal fade" id="DisableModel" tabindex="-1" role="dialog" aria-labelledby="disableLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="disableLabel">
                        {{dialog.header}}
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="text-center">
                        <button type="button" class="btn btn-empty" data-dismiss="modal">
                            取消
                        </button>
                        <button type="button" class="btn btn-default btn-danger"  ng-click="disableJobInterfaceConfirm()" ng-show="dialog.status === 'disable'">
                            禁用
                        </button>
                        <button type="button" class="btn btn-default btn-danger" ng-click="delJobInterfaceConfirm()" ng-show="dialog.status === 'del'">
                            删除
                        </button>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <!-- showToast（Modal） -->
    <div>
        <div class="toastShow" ng-show="toastState === true">
            <em>{{toastCon}}</em>
        </div>
    </div>
</div>

